<p id="notice"><%= notice %></p>

<p>
  <strong>MIXER:</strong> <%= @mixer.username %><br>
  <strong>EMAIL:</strong> <%= @mixer.email %>
</p>


<p><%= link_to 'EDIT', edit_mixer_path(@mixer) %> |
  <%= link_to 'BACK', mixers_path %></p>
